.idea
certificates-service/.gradle
certificates-service/controller/build/
certificates-service/controller/out/
certificates-service/domain/build/
certificates-service/domain/out/
certificates-service/repository/build/
certificates-service/repository/out/
certificates-service/service/build/
certificates-service/service/out/
certificates-authentication/.gradle
certificates-authentication/.build