<h2 style="text-align: center;">Certificates</h2>
<br>
<div style="text-align: center;">
  <div style="display: inline-block; width: 300px; margin: auto;">
    <select class="browser-default custom-select">
      <option selected>All the certificates</option>
      <option value="1">My certificates</option>
    </select>
  </div>
  <div style="display: inline-block;width: 700px; margin: auto;">
    <form class="form-inline md-form form-sm mt-0">
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
      <input type="submit" value="Search">
    </form>
  </div><br>
  <div>
    <ul>
      <li *ngFor="let c of certificates; index as i" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>
          <p class="card-text">{{c.description}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <nav style="text-align: center;" aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
