#login-div{
  width: 50%;
  vertical-align: middle;
  display: inline-block;
}

#welcome-img-div{
  width: 30%;
  display: inline-block;
}

.floated{
  float:left;
  margin-right:5px;
}

.photoBorder {
  border: 1px solid grey;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.photoImage {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

